<script setup></script>

<template>
    <div class="row">
        <div class="col bg-light text-dark text-center">
            <div>
                <p>Journal.uz</p>
            </div>
            <div class="d-flex flex-column align-items-center">
                <p>
                    <router-link class="link-opacity-25-hover" to="/news-edit">Yangiliklar</router-link>
                </p>
                <p>
                    <router-link class="link-opacity-75-hover" to="/journals-edit">Jurnallar</router-link>
                </p>
                <p>
                    <router-link class="link-opacity-75-hover" to="/categories-edit">Kategoriyalar</router-link>
                </p>
                <p>
                    <router-link class="link-opacity-75-hover" to="#">Chiqish</router-link>
                </p>
            </div>
        </div>
        <div class="col-10">
        </div>
    </div>
</template>

<style scoped>

</style>