<script>
import {mapActions, mapGetters} from "vuex";
import EditSideBar from "@/components/edit/EditSideBar.vue";
import {getAdapter} from "axios";

export default {
    name: "EditPage",
    components: {EditSideBar},
    data() {
        return {
            form: {
                name: '',
                description: '',
                category: [],
                language: [],
                dateOfPublication: '',
                publisher: '',
                author: '',
                title: '',
                type: '',
            },
            file1: null,
            file2: null
        }
    },
    computed: {
        ...mapGetters(['getCategories', 'getMedia', 'getLanguages', 'getAuthors', 'getPublishers'])
    },
    methods: {
        getAdapter,
        ...mapActions(['pushFile', 'pushJournal', 'fetchLanguages', 'fetchCategories', 'fetchAuthors', 'fetchPublishers']),
        setJournal() {
            const formData = new FormData();
            formData.append('file1', this.file1);
            formData.append('file2', this.file2);

            this.pushFile(formData)
                .then((response) => {
                    const journalData = {
                        name: this.form.name,
                        description: this.form.description,
                        language: this.form.language,
                        category: this.form.category,
                        dateOfPublication: this.form.dateOfPublication,
                        publisher: this.form.publisher,
                        author: this.form.author,
                        title: this.form.title,
                        type: this.form.type,
                        picture: this.getMedia,
                        filepath: this.getMedia
                    };
                    console.log(response)
                    return this.pushJournal(journalData);
                })
                .then(() => {
                    this.$router.push('/');
                    alert('Jurnal qo\'shildi')
                })
                .catch((error) => {
                    console.log(error);
                });
        },
        handleFileUpload1() {
            this.file1 = this.$refs.file.files[0];
        },
        handleFileUpload2() {
            this.file2 = this.$refs.file.files[0];
        },
    },
    mounted() {
        this.fetchLanguages()
        this.fetchCategories()
        this.fetchAuthors()
        this.fetchPublishers()
    }
}
</script>

<template>
    <div class="row">
        <div class="col-2">
            <EditSideBar/>
        </div>

        <div class="col-10 mt-4">
            <div>
                <!-- Button trigger modal -->
                <button class="btn btn-primary edit-button" data-bs-target="#exampleModal" data-bs-toggle="modal"
                        type="button">
                    Yangi qo'shish
                </button>

                <!-- Modal -->
                <div id="exampleModal" aria-hidden="true" aria-labelledby="exampleModalLabel" class="modal fade"
                     tabindex="-1">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 id="exampleModalLabel" class="modal-title fs-5">Journal qo'shish</h1>
                                <button aria-label="Close" class="btn-close" data-bs-dismiss="modal"
                                        type="button"></button>
                            </div>
                            <div class="modal-body">
                                <form @submit.prevent="setJournal">
                                    <div class="col-6">
                                        <select v-model="form.category" aria-label="Multiple select example"
                                                class="form-select"
                                                multiple>
                                            <option
                                                v-for="category of getCategories"
                                                :key="category.id"
                                                :value="category['@id']"
                                            >{{ category.name }}
                                            </option>
                                        </select>
                                        <select v-model="form.language" aria-label="Multiple select example"
                                                class="form-select mt-4"
                                                multiple>
                                            <option
                                                v-for="language of getLanguages"
                                                :key="language.id"
                                                :value="language['@id']"
                                            >{{ language.name }}
                                            </option>
                                        </select>
                                        <input
                                            v-model="form.name"
                                            class="form-control mt-4"
                                            placeholder="Journal name"
                                            type="text"
                                        >
                                        <input
                                            v-model="form.dateOfPublication"
                                            class="form-control mt-4"
                                            type="date"
                                        >
                                        <select v-model="form.author" aria-label="Default select example"
                                                class="form-select mt-4">
                                            <option
                                                v-for="author of getAuthors"
                                                :key="author.id"
                                                :value="author['@id']"
                                            >{{ author.name }}
                                            </option>
                                        </select>
                                        <select v-model="form.publisher" aria-label="Default select example"
                                                class="form-select mt-4">
                                            <option
                                                v-for="publisher of getPublishers"
                                                :key="publisher.id"
                                                :value="publisher['@id']"
                                            >{{ publisher.name }}
                                            </option>
                                        </select>
                                        <input
                                            v-model="form.title"
                                            class="form-control mt-4"
                                            placeholder="Sarlavha"
                                            type="text"
                                        >
                                        <input
                                            v-model="form.type"
                                            class="form-control mt-4"
                                            placeholder="type"
                                            type="text"
                                        >
                                        <div class="mt-4">
                                            <label>Rasmni tanlang
                                                <input
                                                    id="file"
                                                    ref="file"
                                                    class="form-control mt-2"
                                                    type="file"
                                                    @change="handleFileUpload1()"
                                                >
                                            </label>
                                            <br>
                                        </div>
                                        <div class="mt-4">
                                            <label>Jurnalni tanlang
                                                <input
                                                    id="file"
                                                    ref="file"
                                                    class="form-control mt-2"
                                                    type="file"
                                                    @change="handleFileUpload2()"
                                                >
                                            </label>
                                            <br>
                                        </div>
                                        <button class="btn btn-primary mt-4" type="submit">Save</button>
                                    </div>
                                </form>
                            </div>
                            <div class="modal-footer">
                                <button class="btn btn-secondary" data-bs-dismiss="modal" type="button">Close</button>
                                <button class="btn btn-primary" type="button">Save changes</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<style scoped>
.edit-button {
    margin-left: 85%;
}
</style>