<script setup>

import SearchBar from "@/components/SearchBar.vue";
import SideBar from "@/components/SideBar.vue";
import ContentRow from "@/components/ContentRow.vue";
</script>

<template>
    <div class="row">
        <SearchBar/>

        <SideBar/>

        <ContentRow/>
    </div>
</template>

<style scoped>

</style>