<script>
import {mapActions, mapGetters} from "vuex";

export default  {
    data() {
        return {
            form:  {
                email: '',
                password: ''
            }
        }
    },
    computed: {
        ...mapGetters(['getToken'])
    },
    methods: {
        ...mapActions(['fetchUserToken', "fetchCategories"]),
        auth() {
            this.fetchUserToken(this.form)
                .then(() => {
                    console.log('token olindi')
                    this.fetchCategories()
                    this.$router.push('/')
                    if (this.getToken === null)
                    {
                        this.$router.go(-1)
                    }
                })
            console.log('bu login sahifasi auth funksiyasi')
        }
    }
}
</script>

<template>
    <form class="col-6" @submit.prevent="auth">
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Email</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
            v-model="form.email">
        </div>
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Parol</label>
            <input type="password" class="form-control" id="exampleInputPassword1" v-model="form.password">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</template>

<style scoped>

</style>