<script>
import {mapActions, mapGetters} from "vuex";

export default {
    name: 'NewsInfoPage',
    computed: {
        ...mapGetters(['getNews'])
    },
    methods: {
        ...mapActions(['fetchNews'])
    },
    mounted() {
        this.fetchNews(this.$route.params.newsId)
    }
}
</script>

<template>
    <div class="container">
        <div class="row">
            <div class="col">
                <div>
                    <h1>{{getNews.title}}</h1>
                    <br> <br>
                </div>
                <div class="mb-4">
                    <img :src="'http://localhost:8505' + getNews.picture.contentUrl" :alt="getNews.title"
                         >
                </div>
                <div>
                    <p>{{getNews.text}}</p>
                </div>
            </div>
        </div>
    </div>
</template>

<style scoped>
img {
    max-width: 500px;
}
</style>