<script setup>

import JournalsRow from "@/components/JournalsRow.vue";
import PaginationRow from "@/components/PaginationRow.vue";
</script>

<template>
    <div class="row col-md-9">
        <JournalsRow/>

        <PaginationRow/>
    </div>
</template>

<style scoped>

</style>