<script setup>

</script>

<template>
    <div class="row mt-4">
        <div class="col">
            <footer class="bg-dark text-light p-5">
                &copy; All rights reserved. 2023
            </footer>
        </div>
    </div>
</template>

<style scoped>

</style>