<script setup>

</script>

<template>
    <div class="row">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container">
                <a class="navbar-brand fs-4" href="/">Elektron Jurnallar </a>
                <button aria-controls="offcanvasDarkNavbar" aria-label="Переключить навигацию"
                        class="navbar-toggler shadow-none border-0"
                        data-bs-target="#offcanvasDarkNavbar" data-bs-toggle="offcanvas"
                        type="button">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div id="offcanvasDarkNavbar" aria-labelledby="offcanvasDarkNavbarLabel"
                     class="sidebar offcanvas offcanvas-end text-bg-dark"
                     tabindex="-1">
                    <div class="offcanvas-header text-white border-bottom">
                        <h5 id="offcanvasDarkNavbarLabel" class="offcanvas-title">Elektron Jurnallar</h5>
                        <button aria-label="Закрыть" class="btn-close btn-close-white shaddow-none"
                                data-bs-dismiss="offcanvas"
                                type="button"></button>
                    </div>
                    <div class="offcanvas-body d-flex flex-column flex-lg-row p-4 p-lg-0">
                        <ul class="navbar-nav justify-content-center align-items-center fs-5 flex-grow-1 pe-3">
                            <li class="nav-item mx-2">
                                <a aria-current="page" class="nav-link active" href="/">Bosh sahifa</a>
                            </li>
                            <li class="nav-item mx-2">
                                <a class="nav-link" href="#">Jurnallar</a>
                            </li>
                            <li class="nav-item mx-2">
                                <router-link class="nav-link" to="/news">Yangiliklar</router-link>
                            </li>
                        </ul>
                        <div class="d-flex flex-column flex-lg-row justify-content-center align-items-center gap-3">
                            <a
                                class="text-white text-decoration-none px-3 py-1 bg-primary rounded-4"
                                href="/login"
                            ><i class="bi bi-person"></i>Kirish
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
    </div>
</template>

<style scoped>
@media (max-width: 991px) {
    .sidebar {
        background-color: rgba(255, 255, 255, 0.15);
        backdrop-filter: blur(10px);
    }
}
</style>