<script>
import {mapActions, mapGetters} from "vuex";

export default {
    name: "JournalsRow",
    computed: {
        ...mapGetters(['getJournals'])
    },
    methods: {
        ...mapActions(['fetchJournals'])
    },
    mounted() {
        this.fetchJournals({categoryId: this.$route.params.id})
    },
    watch: {
        '$route.params.id'() {
            console.log('id ozgarmoqda')
            this.fetchJournals({categoryId: this.$route.params.id})
        }
    },

}
</script>

<template>
    <div class="row">
        <div
            v-for="journal of getJournals"
            v-bind:key="journal.id"
            class="card col-12 mb-4">
            <div class="row g-0">
                <div class="col-12 col-md-4">
                    <img :alt="journal.name" :src="'http://localhost:8505' + journal.picture.contentUrl"
                         class="card-img-bottom img-thumbnail">
                </div>
                <div class="col-12 col-md-8">
                    <div class="card-body row">
                        <h2 class="card-title text-primary mb-0">{{ journal.name }}</h2>
                        <div class="col-4">
                            <p class="mb-0 text-dark text-opacity-50"><i class="bi bi-calendar-event-fill"></i> Chop etilgan sana:</p>
                            <h6 class="mb-0">{{ journal.dateOfPublication }}</h6>
                        </div>
                        <div class="col-4">
                            <p class="mb-0 text-dark text-opacity-50">Tillari:</p>
                            <h6 v-for="language of journal.language" :key="language.id" class="mb-0">{{language.name}}</h6>
                        </div>
                        <div class="col-4 mb-0">
                            <p class="mb-0 text-dark text-opacity-50"><i class="bi bi-book-fill"></i> Jurnal yuklangan soni:</p>
                            <h6 class="mb-0"><i class="bi bi-cloud-arrow-down-fill"></i> {{ journal.downloaded }}</h6>
                        </div>
                        <div class="col-4 mt-0">
                            <p class="mb-0 text-dark text-opacity-50"><i class="bi bi-geo-alt-fill"></i> Nashriyot nomi:</p>
                            <h6 class="mb-0">{{ journal.publisher.name }}</h6>
                        </div>
                        <div class="col-8 mt-2">
                            <p class="mb-0 text-dark text-opacity-50"><i class="bi bi-clipboard-check-fill"></i> Turi:</p>
                            <h6 class="mb-0" v-for="category of journal.category" :key="category.id">{{ category.name }}</h6>
                        </div>
                        <div class="col-4 mt-0">
                            <p class="mb-0 text-dark text-opacity-50">Ulanish uchun: </p>
                            <span>
                                <a href="/"><i class="bi bi-facebook mr-2"></i></a>
                                <a href="/"><i class="bi bi-twitter pr-2"></i></a>
                                <a href="/"><i class="bi bi-telegram pr-2"></i></a>
                                <a href="/"><i class="bi bi-instagram pr-2"></i></a>
                            </span>
                        </div>
                        <div class="col-4 mt-0">
                            <p class="mb-0 text-dark text-opacity-50">Jurnal Muallifi:</p>
                            <h6 class="mb-0">{{journal.author.name}}</h6>
                        </div>
                        <div class="d-flex justify-content-end mt-0">
                            <p><a class="btn btn-primary" href="#" role="button">
                                <i class="bi bi-file-earmark-arrow-down-fill"></i> Faylni yuklash</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<style scoped>
img {
    width: 200px;
    height: 300px;
}
</style>