<script>
import {mapActions, mapGetters} from "vuex";

export default {
    name: 'NewsRow',
    computed: {
        ...mapGetters(['getNewses'])
    },
    methods: {
        ...mapActions(['fetchNewses'])
    },
    mounted() {
        this.fetchNewses()
    }
}
</script>

<template>
    <div class="row">
        <div v-for="news of getNewses" :key="news.id" class="col-12 col-sm-6 col-lg-4 mt-4">
            <div class="card">
                <img :alt="news.title" :src="'http://localhost:8505' + news.picture.contentUrl">
                <div class="card-body">
                <span class="text-dark text-opacity-50">
                    <i class="bi bi-calendar-event-fill"></i>
                    {{news.date}} <br>
                </span>
                    <router-link :to="'/news-info/' + news.id"  class="card-title">{{ news.title }}</router-link>
                </div>
            </div>
        </div>
    </div>
</template>

<style scoped>

</style>