<template v-if="$route.path !== '/'">
    <div class="col-12 col-sm-6 col-lg-4 col-xl-3 mb-4 mt-4">
        <paginate
            v-model="page"
            :page-count="Math.ceil(getTotalJournals/8)"
            :click-handler="clickCallback"
            :container-class="'pagination'"
            :next-text="'>'"
            :page-class="'page-item'"
            :page-range="5"
            :prev-text="'<'"
            :first-last-button="true"
            :first-button-text="'<<'"
            :last-button-text="'>>'"
            :hide-prev-next="true"
        >
        </paginate>
    </div>
</template>

<script>
import   Paginate from 'vuejs-paginate-next';
import {mapActions, mapGetters} from "vuex";

export default {
    name: "PaginationRow",
    data() {
        return {
            page: 1
        }
    },
    components: {
        paginate: Paginate,
    },
    watch: {
        'getTotalJournals'() {
            this.page = 1
        }
    },
    computed: {
        ...mapGetters(['getTotalJournals'])
    },
    methods: {
        ...mapActions(["fetchJournals"]),
        clickCallback (pageNum) {
            this.fetchJournals({
                categoryId: this.$route.params.id ?? null,
                page: pageNum
            })
        }
    },
    mounted() {
        console.log('pagination componentimiz yuklandi')
    },

}

</script>

<style scoped>

</style>