<template>
    <div class="container-fluid">
        <HeaderRow/>

        <router-view/>

        <FooterRow/>
    </div>
</template>

<script>


import HeaderRow from "@/components/HeaderRow.vue";
import FooterRow from "@/components/FooterRow.vue";

export default {
    name: 'App',
    components: {
        FooterRow,
        HeaderRow
    }
}
</script>

<style>
</style>
